
<div clss="text-center m-5">

    <h1 class="m-5">
        Bienvenido a la App de Usuarios
    </h1>

    <div class="text-center m-5">
        <figure>
            <img src="https://files.winsports.co/assets/public/styles/large/public/2023-08/Fiesta%20messi%20H.jpg.webp?itok=zmuhNekV" alt="Messi en Inter">
        </figure>
        <figcaption>
            Messi en el Inter de Miami
        </figcaption>
    </div>

    <p class="text-center m-5">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta sed beatae delectus aliquid rerum voluptatibus architecto voluptates temporibus asperiores maiores laboriosam, voluptatem similique sapiente tempore corrupti dolores veritatis. Necessitatibus, nemo.
    </p>

</div>


    
